#navbrand{
	color:#0cf;
}
#brand, #brandH1{
	color:#0cf;
	font-size: 62pt;
	text-align: center;
	text-shadow: 4px 2px 3px #999;
	padding-top:25px;
	padding-bottom: 200px;

}
#loginOrRegister{
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
}
.txtBtn{
	color:#0cf;
	background:none;
	border:none;
	margin:0;
	padding:0;
}
.txtBtn:hover{

	color:#08c;
}
#regBox, #logBox{
	border-radius: 5px;
	box-shadow: 5px 2px 5px black;
	background: -webkit-linear-gradient(#ccc,#888); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#ccc,#888); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#ccc,#888); /* Firefox 3.6-15 */
    background: linear-gradient(#ccc,#888); /* Standard syntax */
}
#confirmAccount, #confirmReg{
	margin-bottom: 10px;
	border:none;
	font-size: 14pt;
	border-radius: 5px;
	background: -webkit-linear-gradient(#ccc,#888); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#ccc,#888); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#ccc,#888); /* Firefox 3.6-15 */
    background: linear-gradient(#ccc,#888); /* Standard syntax */
	box-shadow: 2px 2px 2px black;
}
#login-div, #register-div{
	position: relative;
	bottom:0;
	margin:0 auto;
	width:90%;
}
#brandImg{
	margin-bottom: 50px;
}
#zipForm{
	
}
.form-control{
	margin-bottom: 15px !important;
}
#zipInput,
.account-interface{
	text-align: center;
	font-size: 18pt;

}
.enterBtn{
	margin-top: 15px;
	border:none;
	border-radius: 5px;
	font-size: 14pt;
	box-shadow: 2px 2px 2px #888;
}

#confirmZip, #confirmAccount{
	color: #fff;
	background: -webkit-linear-gradient(#0af,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0af,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0af,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0af,#08c); /* Standard syntax */

}
#confirmZip:hover, #confirmAccount:hover{
	color:#fff;
	background: -webkit-linear-gradient(#0cf,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0cf,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0cf,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0cf,#08c); /* Standard syntax */

}
.navText{

}
.navbar.always-open {
    border-radius: 0;
}
.navbar.always-open .navbar-header {
  float: none;
}
.navbar.always-open .navbar-toggle {
  display: block;
}
.navbar.always-open .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar.always-open .navbar-collapse.collapse {
  display: none!important;
}
.navbar.always-open .navbar-collapse.collapse.in {
  display: block!important;
}
.navbar.always-open .navbar-nav {
  float: none !important;
  margin: 7.5px -15px;
}
.navbar.always-open .navbar-nav>li {
  float: none;
}
.navbar.always-open .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.categoryBtns {
	color: #fff;
	background: -webkit-linear-gradient(#0cf,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0cf,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0cf,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0cf,#08c); /* Standard syntax */
	
	font-size: 25px;
	border: 1px solid black;
/*	-webkit-text-stroke: 0.5px #fff;*/
} 
.categoryBtns:hover{
	background: -webkit-linear-gradient(#0cf,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0cf,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0cf,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0cf,#08c); /* Standard syntax */
}

#map {
        height: 500px;
        width:100%;
}
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}

#account-interface
{
	margin-top: 15px;
}
#accountBox
{
	background-color: grey;
	margin-top: 30px;

