#navbrand{
	color:#0cf;
}
#brand{
	color:#0cf;
	font-size: 48pt;
	text-align: center;
	text-shadow: 2px 2px 3px #888;
	padding-top:25px;
	padding-bottom: 50px;

}
#logOrSign{
	text-align: center;
	font-size: 18pt;
}
.logBtn{
	border:none;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px #888;
}
#login{
	background: -webkit-linear-gradient(#0af,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0af,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0af,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0af,#08c); /* Standard syntax */

}
#login:hover{
	background: -webkit-linear-gradient(#0cf,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0cf,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0cf,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0cf,#08c); /* Standard syntax */

}
#signup{

}
#signup:hover{
	background: -webkit-linear-gradient(#0af,#08c); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#0af,#08c); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#0af,#08c); /* Firefox 3.6-15 */
    background: linear-gradient(#0af,#08c); /* Standard syntax */

}